.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  transition: all 0.2s ease;
  box-sizing: border-box;
  padding: 0 16px;

  font-size: 14px;
  line-height: 20px;

  &.small {
    min-width: 32px;
    height: 32px;
    padding: 0 12px;
    font-size: 12px;
    line-height: 16px;
  }

  &.medium {
    min-width: 40px;
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 20px;
  }

  &.large {
    min-width: 48px;
    height: 54px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 24px;
  }

  &.primary {
    &.solid {
      background: var(--colors-base-primary, #0554EF);
      color: var(--colors-base-primary-foreground, #FFF);
    }

    &.bordered {
      color: var(--colors-base-primary, #0554EF);
      background: transparent;
      border: 2px solid var(--colors-base-primary, #0554EF);
    }

    &.transparent {
      background: transparent;
      color: var(--colors-base-primary, #0554EF);
    }

    &.solid-medium {
      background: var(--colors-base-primary-100, #D9E7FF);
      color: var(--colors-base-primary, #0554EF);
    }

    &.solid-light {
      background: var(--colors-base-primary-75, #E9EFFF);
      color: var(--colors-content-content1-foreground, #18181B);
    }

    &.bordered-light {
      background: transparent;
      color: var(--colors-base-primary, #0554EF);
      border: 1.5px solid var(--colors-base-primary, #0554EF);
    }
  }

  &.light {
    background: var(--colors-base-default, #FFF);
    color: var(--colors-base-default-foreground, #000);

    &.bordered {
    background: none;
    border: 2px solid var(--colors-base-default, #FFF);
    }

    &.transparent {
      background: transparent;
      border: none;
    }

    &.solid-medium {
      background: var(--colors-base-default-200, #E4E4E7);
    }

    &.solid-light {
      background: var(--colors-base-default-100, #F4F4F5);
    }

    &.bordered-light {
      background: none;
      border: 1.5px solid var(--colors-base-default, #FFF);
    }
  }

  &.dark {
    background: var(--colors-common-black, #000);
    color: var(--colors-base-primary-foreground, #FFF);

    &.bordered {
    background: none;
      border: 2px solid var(--colors-common-black, #000);
    }

    &.transparent {
      background: transparent;
      border: none;
    }

    &.solid-medium {
      background: var(--colors-base-default-900, #18181B);
    }

    &.solid-light {
      background: var(--colors-base-default-600, #52525B);
    }

    &.bordered-light {
      background: none;
      border: 1.5px solid var(--colors-common-black, #000);
    }
  }

  &:hover {
    opacity: 0.9;
  }
}
