.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: var(--layout-radius-rounded-medium, 12px);
  border: none;
  transition: border-radius 200ms ease-out, background-color 200ms ease-out;
  box-sizing: border-box;
  padding: 0 16px;

  font-size: 14px;
  line-height: 20px;

  &:hover {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: var(--layout-radius-rounded-xlarge, 24px);
  }

  &.small {
    min-width: 32px;
    height: 32px;
    padding: 0 12px;
    font-size: 12px;
    line-height: 16px;
  }

  &.medium {
    min-width: 40px;
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 20px;
  }

  &.large {
    min-width: 48px;
    height: 54px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      padding: 0 24px;
    }
  }

  &.primary {
    &.solid {
      background-color: var(--colors-base-primary, #0554EF);
      color: var(--colors-base-primary-foreground, #FFF);

    }

    &.solid:hover {
      background: var(--colors-base-primary-600, #0444BD);
    }

    &.bordered {
      color: var(--colors-base-primary, #0554EF);
      background-color: transparent;
      border: 2px solid var(--colors-base-primary, #0554EF);

    }

    &.bordered:hover {
      color: var(--colors-base-primary-600, #0444BD);
      border: 2px solid var(--colors-base-primary-600, #0444BD);
      background: transparent;
    }

    &.transparent {
      background-color: transparent;
      color: var(--colors-base-primary, #0554EF);

    }

    &.transparent:hover {
      color: var(--colors-base-primary-600, #0444BD);
      background: rgba(249, 251, 255, 0.75);
    }

    &.solid-medium {
      background-color: var(--colors-base-primary-100, #D9E7FF);
      color: var(--colors-base-primary, #0554EF);

    }

    &.solid-medium:hover {
      background: var(--colors-base-primary-150, #C6DBFF);
    }

    &.solid-light {
      background-color: var(--colors-base-primary-75, #E9EFFF);
      color: var(--colors-content-content1-foreground, #18181B);

    }

    &.solid-light:hover {
      background: var(--colors-base-primary-100, #D9E7FF);
    }

    &.bordered-light {
      background-color: transparent;
      color: var(--colors-base-primary, #0554EF);
      border: 1.5px solid var(--colors-base-primary, #0554EF);

    }

    &.bordered-light:hover {
      border: 1.5px solid var(--colors-base-primary-600, #0444BD);
      color: var(--colors-base-primary-600, #0444BD);
      background: transparent;
    }
  }

  &.light {
    background-color: var(--colors-base-default, #FFF);
    color: var(--colors-base-default-foreground, #000);

    &:hover {
      background-color: var(--colors-base-default-100, #F4F4F5);
    }

    &.bordered {
      background-color: transparent;
      border: 2px solid var(--colors-base-default, #FFF);

      &:hover {
        border-color: var(--colors-base-default-100, #F4F4F5);
        background-color: transparent;
      }
    }

    &.transparent {
      background-color: transparent;
      border: none;

      &:hover {
        background-color: var(--colors-base-default-100, #F4F4F5);
      }
    }

    &.solid-medium {
      background-color: var(--colors-base-default-200, #E4E4E7);

      &:hover {
        background-color: var(--colors-base-default-300, #D4D4D8);
      }
    }

    &.solid-light {
      background-color: var(--colors-base-default-100, #F4F4F5);

      &:hover {
        background-color: var(--colors-base-default-200, #E4E4E7);
      }
    }

    &.bordered-light {
      background-color: transparent;
      border: 1.5px solid var(--colors-base-default, #FFF);

      &:hover {
        border-color: var(--colors-base-default-100, #F4F4F5);
        background-color: transparent;
      }
    }
  }

  &.dark {
    background-color: var(--colors-common-black, #000);
    color: var(--colors-base-primary-foreground, #FFF);

    &:hover {
      background-color: var(--colors-base-default-900, #18181B);
    }

    &.bordered {
      background-color: transparent;
      border: 2px solid var(--colors-common-black, #000);

      &:hover {
        border-color: var(--colors-base-default-900, #18181B);
        background-color: transparent;
      }
    }

    &.transparent {
      background-color: transparent;
      border: none;

      &:hover {
        background-color: var(--colors-base-default-900, #18181B);
      }
    }

    &.solid-medium {
      background-color: var(--colors-base-default-900, #18181B);

      &:hover {
        background-color: var(--colors-base-default-800, #27272A);
      }
    }

    &.solid-light {
      background-color: var(--colors-base-default-600, #52525B);

      &:hover {
        background-color: var(--colors-base-default-500, #71717A);
      }
    }

    &.bordered-light {
      background-color: transparent;
      border: 1.5px solid var(--colors-common-black, #000);

      &:hover {
        border-color: var(--colors-base-default-900, #18181B);
        background-color: transparent;
      }
    }
  }
}
